{% extends "base.html" %}
{% block content %}
<div>
    <h3>{{ pet.nome|capfirst }}</h3>

    <p>Espécie: {{ pet.especie }}</p>

    {% if pet.raca %}
        <p>Raça: {{pet.raca}}</p>
    {% endif %}

    {% if pet.idade %}
        <p>Idade: {{pet.idade}} anos</p>
    {% endif %}

    {% if pet.sexo %}
        <p>Sexo: {{pet.sexo}}</p>
    {% endif %}

    {% if pet.peso %}
        <p>Peso: {{pet.peso}} KG</p>
    {% endif %}

    {% if pet.vacinas.all %}
        <p>Vacinado com: </p>
        <ul>
            {% for vacinas in pet.vacinas.all %}
                <li> {{ vacinas.nome }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if pet.microchip %}
        <p>Microchip: {{pet.microchip}} </p>
    {% endif %}

    {% if pet.localizacao %}
        <p>Localização: {{pet.localizacao}} </p>
    {% endif %}

    <p> Descrição: {{ pet.descricao }}</p>

    <p> Submetido por: {{ pet.tutor }}</p>
    <p> Submetido em: {{ pet.data_submissao|date:"d M Y"}} </p>

</div>
{% endblock %}